
*.xcbkptlist

*.xcuserstate

*.xcscheme

*.plist

*.xcbkptlist

*.xcuserstate

*.pbxproj

*.xcuserstate

CaraMetade/CaraMetade.xcodeproj/project.pbxproj

CaraMetade/CaraMetade.xcodeproj/project.xcworkspace/xcuserdata/franciscosolla.xcuserdatad/UserInterfaceState.xcuserstate

*.xcuserstate

*.storyboard
